.header {
  background-color: #4c8f96;
  border: 1px solid black;
  width:100%;
  height: 100px;
  padding-left: 180px;
  padding-top: 50px;
}

.main.container {
display:flex;
flex-direction: column;
width:75%;
height: 100%;
}
.header h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  background: #1a1f33;
  color: white;
  margin: 0%;
  padding:35px;
  float:left;
}