<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/image-gallery-styles.css">
</head>
<body>
  <div class="main.container">

    <div class="header">
      <h1>ZIZURZ</h1>
      <nav>Home About Hairstyles News Contact</nav>
    </div>
    <div class="body">
     <div class="contact-header">
       <div class="column">

       </div>
       <div class="column">

       </div>
       <div class="column">

       </div>
       <div class="column">
         
       </div>

     </div>
    </div>
</body>
</html>