
.main.container {
  align-items: center;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.contact-header {
  width: 500px;
}
.header {
  background-color: #4c8f96;
  border: 1px solid black;
  width:100%;
  height: 100px;
  padding-left: 180px;
  padding-top: 50px;

}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
  background: #1a1f33;
  color: white;
  margin: 0%;
  padding:35px;
  float:left;
}

ul {
  list-style-type: none;
  padding:0%;
}

nav  {
  position: absolute;
  right: 120px;
  display: flex;
  background-color: #1a1f33;
  color: white;
}