
.main.container {
  align-items: center;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.contact-header {
  width: 500px;
}
.header {
  background-color: #4c8f96;
  border: 1px solid black;
  width:100%;
  height: 100px;
  padding-left: 180px;
  padding-top: 50px;

}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
  background: #1a1f33;
  color: white;
  margin: 0%;
  padding:35px;
  float:left;
}

ul {
  list-style-type: none;
  padding:0%;
}

nav  {
  position: absolute;
  right: 120px;
  display: flex;
  background-color: #1a1f33;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 250px;
  position:relative;
}
.image {
    display:flex;
    border: 2px solid black;
    /* background-image: url(https://source.unsplash.com/random?sig=1253); */
}
  .image:hover .overlay {
    opacity: 1;
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


      
 .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
      }
      
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }